.header {
  height: 70px;
  background: #2c353e;
  padding: 0 20px;
  color: #ffffff;
}
.header_logo {
  line-height: 70px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.menu {
  display: flex;
  margin-left: auto;
  align-items: center;
}