@import "../../assets/styles/smart-grid";

.root {
  width: 100%;
  display: none;
  @include xs-block() {
    display: flex;
    width: inherit;
  }
}
.link {
  color: #222222;
  text-decoration: none;
  display: block;
  padding: 20px 0;
  margin: 0 15px;
  transition: all 300ms ease;
  text-transform: uppercase;
  font-size: 14px;
  &:hover,
  &Active {
    color: #064aff;
  }
}
