.breadcrumbs {
  margin: 0 -10px 20px;
}
.breadcrumbs__item {
  padding: 0 10px;
  &:after {
    content: '/';
    padding: 0 0.5rem;
    position: absolute;
    color: #74788d;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}
.breadcrumbs__link {
 color: #74788d;
  &:hover {
    text-decoration: none;
  }
}