
.menuItem {
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.profile {
  position: relative;
  cursor: pointer;
}
.profileAva {
  width: 40px;
  border-radius: 50%;
  &Big {
    width: 80px;
  }
}
.profileName {
  font-size: 17px;
  color: #000000;
  margin: 10px 0;
  font-weight: 700;
}
.profileEmail {
  font-size: 13px;
  color: #686868;
}
.dropdownMenu {
  padding: 20px;
  max-width: 280px;
  position: absolute;
  top: calc(0px + 70px);
  right: 0;
  left: auto;
  border-radius: 0;
  margin-top: 0;
  border: 1px solid #f2f4f9;
  box-shadow: 0 5px 10px 0 rgba(183,192,206,.2);
  font-size: .875rem;
  background: #ffffff;
  animation-name: dropdownAnimation;
  animation-duration: .2s;
  animation-fill-mode: both;
  &:after {
    content: '';
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 28px;
    transform: rotate(45deg);
    border-top: 1px solid #f2f4f9;
    border-left: 1px solid #f2f4f9;
  }
}
.dropdownMenuHeader {
  text-align: center;
  border-bottom: 1px solid #f2f4f9;
  padding-bottom: 15px;
}
.dropdownAction {
  margin-top: 10px;
}
.dropdownActionItem {
  margin: 0 0 10px 0;
  &:last-child {
    margin: 0;
  }
}
.dropdownActionItemLink {
  color: #383838;
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover {
    color: #3764f8;
  }
  svg {
    width: 16px;
    height: 16px;
    margin-right: 20px;
  }
}
@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translate3d(0,20px,0)
  }

  to {
    opacity: 1;
    transform: none;
    transform: translate3d(0,0,0)
  }
}