@include reset();

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #181818
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#main {
  flex: 1 0 auto;
}

.wrapper {
  @include wrapper()
}

.pos-relative {
  position: relative;
}
.d-inline-block {
  display: inline-block;
}

button:disabled, button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}