.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
  }
  &Pink {
    color: #ffffff;
    background: #ff214f;
    border-color: #ff214f;
  }
  &Blue {
    color: #ffffff;
    background: #007bff;
    border-color: #007bff;
  }
  &Violet{
    color: #ffffff;
    background: #593eff;
    border-color: #593eff;
  }
}
.btnBig {
  padding: 16px 36px;
  font-size: 25px;
}